.field-render_inline_actions > p,
.field-render_inline_actions label + p {
  display: none;
}

#changelist table .submit_row.inline_actions input,
.submit_row.inline_actions input {
  padding: 0px 5px;
  margin: 0 10px 0 0;
  cursor: pointer;
}
.inline-actions input[name$="cancel_and_refund"] {
    background-color: #dc3545 !important;
    color: white !important;
    border-color: #dc3545 !important;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 4px;
}
